body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    padding: 1rem;
    overflow: hidden;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.image {
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

.new_user_form {
    margin: 1rem;
    line-height: 2rem;
}

#post-content {
    margin: 0 1rem;
}

div {
    display: inline-block;
}

button {
    height: 2rem;
    border-radius: 10%;
    font-family: Arial;
    font-size: 14px;
    padding: .4rem;
}

.button {
    color: white;
    border-style: none;
}

.container {
    display: flex;
}

#edit {
    background: rgb(36, 135, 255);
    margin: 0 .1rem;
}

#delete {
    background: rgb(182, 53, 53);
}

.posts {
    margin: 1rem;
}

.cancel {
    color: black;
    text-decoration: none;
    font-family: Arial;
    font-size: 14px;
    background-color: #f0f0f0 ;
    border: 2px solid;
    border-radius: 10%;
    height: 2rem;
    margin: 0 .1rem;
    padding: .4rem;
}

.label {
    margin: 1rem;
    vertical-align: top;
}

.post-form-input {
    margin: 1rem;
}

.post-form-input input {
    width: 300px;
}

.content {
    word-break: break-all;
    padding-top: 5px;
    padding-bottom: 80px;
}

.tags {
    text-decoration: none;
    color: white;
    font-size: x-small;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(36, 135, 255);
    border-radius: 15%;
    padding: .2rem;
    overflow: hidden;
}