{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block header %}Blogly Recent Posts{% endblock %}

{% block content %}
<ul>
    {% for post in posts %}
    <li>
        <h3>{{post.title}}</h3>
        <p>{{post.content}}</p>
        <i>By {{post.user}} on {{post.get_datetime(post.post_id)}}</i>
        <p><b>Tags:
            <i>
            {% for tag in post.tags %}
                <a href="/tags/{{tag.tag_id}}" class="tags">{{tag.tag_name}}</a>
            {% endfor %}
            </i>
        </b></p>
    </li>
    <hr>
    {% endfor %}
</ul>
{% endblock %}