{% extends 'base.html' %}

{% block title %}Post Details{% endblock %}

{% block header %}{{post.title}}{% endblock %}

{% block content %}
<div id="post-content">
    <p>{{post.content}}</p>
    <br>
    <i>By {{post.user}}</i>
    <br><br>
    <p><b>Tags:
        <i>
        {% for tag in tags %}
            <a href="/tags/{{tag.tag_id}}" class="tags">{{tag.tag_name}}</a>
        {% endfor %}
        </i>
    </b></p>
</div>

<br><br><br>

<div>
    <a href="/users/{{post.user.id}}" class="cancel">Cancel</a>
</div>
<div>
    <form action="/posts/{{post.post_id}}/edit" method="GET">
        <button class="button" id="edit">Edit</button>
    </form>
</div>
<div>
    <form action="/posts/{{post.post_id}}/delete">
        <button class="button" id="delete">Delete</button>
    </form>
</div>
{% endblock %}

