{% extends 'base.html' %}

{% block title %}Edit Post Form{% endblock %}

{% block header %}Edit Post{% endblock %}

{% block content %}
<form class="edit_post_form" method="POST">
    <div class="label">
        <label>Title:</label>
        <br><br>
        <label>Content:</label>
    </div>
    <div class="post-form-input">
        <input type="text" name="title" class="content" placeholder="{{post.title}}" required>
        <br><br>
        <input type="textarea" name="content" class="content" id="content" placeholder="{{post.content}}" required>
        <br><br>
        <b><i>Select tags:</i></b>
        <ul>
            <li id="tag-li">
                {% for tag in tags %}
                <input type="checkbox" name="checks" id="{{tag.tag_name}}" value="{{tag.tag_name}}"><label for="{{tag.tag_name}}">{{tag.tag_name}}</label>
                {% endfor %}
            </li>
        </ul>
        <a href="/posts/{{post.post_id}}" class="cancel">Cancel</a>
        <button type="submit">Save</button>
    </div>
</form>
{% endblock %}