{% extends 'base.html' %}

{% block title %}Create Post{% endblock %}

{% block header %}Create Post for {{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}
<form class="new_post_form" method="POST">
    <div class="label">
        <label>Title:</label>
        <br><br>
        <label>Content:</label>
    </div>
    <div class="post-form-input">
        <input type="text" name="title" required>
        <br><br>
        <input type="textarea" name="content" class="content" required>
        <br><br>
        <a href="/users/{{user.id}}" class="cancel">Cancel</a>
        <button type="submit">Add</button>
    </div>
</form>
{% endblock %}