{% extends 'base.html' %}

{% block title %}Tag Details{% endblock %}

{% block header %}Tag: {{tag.tag_name}}{% endblock %}

{% block content %}
<div>
    <h3>Related Posts</h3>
    <ul>
        {% for post in posts %}
        <li>
            <a href="/posts/{{post.post_id}}"">{{post.title}}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<br><br>
<div>
    <form action="/tags/{{tag.tag_id}}/edit" method="GET">
        <button class="button" id="edit">Edit</button>
    </form>
</div>
<div>
    <form action="/tags/{{tag.tag_id}}/delete">
        <button class="button" id="delete">Delete</button>
    </form>
</div>
{% endblock %}