{% extends 'base.html' %}

{% block title %}User Details{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="left">
    <img src="{{user.image_url}}" width="75" height="75"></img>
</div>

<div class="right">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <div class="container">
        <form action="/users/{{user.id}}/edit" method="GET">
            <button class="button" id="edit">Edit</button>
        </form>
        <form action="/users/{{user.id}}/delete">
            <button class="button" id="delete">Delete</button>
        </form>
    </div>
</div>

<br><br>
<div class="posts">
    <h2>Posts</h2>
    <ul>
        {% for post in posts %}
        <li>
            <a href="/posts/{{post.post_id}}"">{{post.title}}</a>
        </li>
        {% endfor %}
    </ul>
    <br><br>
    <form action="/users/{{user.id}}/posts/new">
        <button>Add Post</button>
    </form>
</div>
{% endblock %}